<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
        <title></title>
    </head>
    <body class="container">

        <header class="header">
            <a href="/"><h1>Útil SIGAA-UFPI </h1></a>
        </header>

        <main class="content">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="footer">
            <a href="https://github.com/macielti" target="_blank">Desenvolvido com muito ❤️ por Bruno do N. Maciel em Gilbués-PI, Brasil.</a>
        </footer>

    </body>
</html>
