<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="/styles/style.css">-->
        <title>{{ title }}</title>
        
        <style>
            body{min-height:100vh}nav{margin-bottom:30px}.class p,.classes h1,.classes h4{font-size:16px}#image-donation{margin-bottom:20px}#image{box-shadow:5px 10px 8px #888}footer{background-color:#343A40;color:#fff}.list-unstyled a{padding-bottom:10px}logged{display:grid;grid-template:none/repeat(20,1fr);grid-column:1/-1}.logged .classes{padding:10px;grid-column:2/20}.logged .classes .inside{border-top:5px solid #000;border-left:5px solid #000;padding:10px}.logged .classes .days{text-align:center;font-size:13px}.logged #progressbar{background-color:#000;border-radius:13px;padding:3px;margin-bottom:10px}.logged #progressbar>div{line-height:22px;font-size:15px;text-align:center;background-color:orange;height:20px;border-radius:10px}.logged .classes .name-activity{font-size:14px;margin-bottom:10px}.logged .classes .deadline-activity{font-size:13px}.logged .classes img{width:20px;height:auto}
        </style>
        
    </head>
    <body>
        <div class="max-width">
            <!--nav tag-->
            {% block nav %}
            {% endblock %}

            <main class="content">
                {% block content %}
                {% endblock %}
            </main>
            
            <!-- Footer -->
            <footer class="page-footer font-small blue pt-4 mt-4">

                <!-- Footer Links -->
                <div class="container-fluid text-center text-md-left">

                  <!-- Grid row -->
                  <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                      <!-- Content -->
                      <h5 class="text-uppercase"> </h5>
                      <p>Desenvolvido com ❤️ por Bruno do Nascimento Maciel, em Gilbués-PI.</p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-6 mb-md-0 mb-3">

                      <!-- Links -->
                      <h5 class="text-uppercase">Contatos</h5>

                      <ul class="list-unstyled">
                        <li>
                          <i class="fab fa-whatsapp-square fa-2x"></i> <a href="#!">(89) 999363289</a>
                        </li>
                      </ul>

                    </div>
                    <!-- Grid column -->

                  </div>
                  <!-- Grid row -->

                </div>
                <!-- Footer Links -->

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2018 Copyright:
                  <a href="https://macielti.github.io/gilbassoft/" target="_blank"> Gilbas Soft </a>
                </div>
                <!-- Copyright -->

              </footer>
              <!-- Footer -->
            
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
            
    </body>
</html>
