{% extends 'base.html' %}

{% block content %}

    <div class="donations">

        <h2>Mostre que você apoia o projeto.</h2>
        <p>Precisamos de sua ajuda para manter o site funcionando. Ele está
        hospedado em um servidor profissional e isso tem um custo. Se gostou
        do projeto, mostre isso doando qualquer valor em dinheiro através das
        opções abaixo, assim você ajuda a manter este projeto funcionando.</p>

        <form method='post' action='https://www.moip.com.br/Process.do'>
            <input type='hidden' name='method' value='donation'/>
            <input type='hidden' name='donation_id' value='11169'/>
            <input type='hidden' name='type' value='2'/>
            <input type='image' name='submit' src='https://static.moip.com.br/imgs/buttons/bt_doar_c01_e04.png' alt='Prazo Pr&amp;amp;aacute;tico' border='0' />
        </form>

        <p class="bitcoin" ><b>₿</b> 1ATAsNSaqZHJQGAnv152bPhheAajFnTdnC</p>

    </div>

{% endblock %}
