
<style media="screen">
    *{
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }

    .main {
        display: grid;
        grid-template: 1fr 1fr / repeat(12, 1fr);

    }

    h1 {
        text-align: center;
        font-size: 50px;
        grid-column: 2/12;
    }
    a {
        text-align: center;
        font-size: 35px;
        grid-column: 3/11;
    }

</style>

<div class="main">
    <h1>Houve um Problema com o SIGAA...</h1>
    <br>
    <a href="/login"><h3>Voltar para a página de Login</h3></a>
</div>
