<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="styles/line.png">

<style media="screen">
    * {
        margin: 0;
        font-family: sans-serif;
    }

    .main {
        padding: 10px;
        display: grid;
        grid-template: 1fr 1fr / repeat(12, 1fr);
        grid-gap:20px;
    }

    h1 {
        text-align: center;
        font-size: 30px;
        grid-column: 1/13;
    }
    a {
        text-align: center;
        font-size: 15px;
        grid-column: 2/12;
    }

</style>

<div class="main">
    <h1>Houve um Problema com o SIGAA...</h1>
    <br>
    <a href="/login"><h3>Voltar para a página de Login</h3></a>
</div>
