{% extends 'base_logged.html' %}
{% block logged %}

    {% for classe in classes %}
        <div class="classes">
            <h3>{{ classe['name'] }}</h3>

            {% for activity in classe['activities'] %}
                <div class="inside">

                    <p>
                        <img src='/styles/{{ activity['type'] | safe}}.svg' >{{ activity['name'] | safe}}
                    </p>

                    <br>

                    <p>
                        {{activity['deadline'] | safe}}
                    </p>
                    
                    {% if not("Não possui prazo de validade." in activity['deadline']) %}
                        <div id="progressbar">
                            <div style="width: {{ activity['percent_time'][:5] }}%;">{{ activity['percent_time'][:5] }}%</div>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}

        </div>
    {% endfor %}


{% endblock %}
