{% extends 'base.html' %}
{% block content %}
    <div class="index">
        <h2>O que é o Prazo Prático?</h2>
        <p>É um cliente alternativo (não oficial) ao SIGAA da Universidade Federal do Piauí,
        desenvolvido por alunos, com o objetivo de oferecer acesso facilitado aos
        prazos de atividades e foruns.</p>
        <h2>Como usar?</h2>
        <p>Entre com o seu usuário e senha do SIGAA, e tenha acesso a seus prazos.
        Não armazenamos informações de nossos usuários!
        O código fonte desta aplicação está disponivel <a href="https://github.com/macielti/prazo-pratico" target="_blank">aqui.</a>
        </p>
        <a href="/login"><button>Entrar</button></a>
    </div>
{% endblock%}
