{% extends 'base.html' %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand " href="/">Prazo Prático</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link active" href="/login">Entrar</a>
                <a class="nav-item nav-link active" href="/donations">Apoiar o Projeto</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="container col-12 col-sm-12 col-md-8">

            <div class="alert alert-info" role="alert">
                Faça login com o seu usuário e senha do SIGAA-UFPI e tenha acesso facilitado a todos os seus prazos.
            </div>

            <div class="jumbotron ">
                <img id="image" src="/styles/favicon.png" class="rounded mx-auto d-block" width="100px;" alt="...">
                <form method="post">
                  <div class="form-group">
                    <label for="usuario">Usuário</label>
                    <input type="text" class="form-control" id="usuario" aria-describedby="username-help" placeholder="Digite o seu nome de usuário" name="username" required value="{{ username }}">
                    <small id="username-help" class="form-text text-muted">Nós não guardamos os seus dados de login.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" name="password" required value="">
                  </div>
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.decode('utf-8') }}
                        </div>
                    {% endif %}
                  <button type="submit" class="btn btn-primary">Entrar</button>
                </form>
            </div>


    </div>

{% endblock %}
